@model IEnumerable<BeerShop.Models.Comment>

@{
    ViewBag.Title = ViewBag.PermissionLevel;
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id = "ItemIndex">
   

<table>
@foreach (var item in Model)
{
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>

    @if (@ViewBag.PermissionLevel == 1)
    {
            @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) 
            @Html.ActionLink("Details", "Details", new { id = item.CommentID }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
    }
    else
    {
        @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
    }
            
        </td>
    </tr>
}
</table>

 </div>
