@model BeerShop.Models.Customer
@{
    ViewBag.Title = "Order - Edit user data";
}
<p class="lead">
    This is the information we have about you, if it is not correct, you can modify
    it in "your acount" section</p>
<br />
@Html.HiddenFor(model => model.UserID)
<strong>Complete name:</strong>
@Html.DisplayFor(model => model.firstName)
@Html.DisplayFor(model => model.lastName)
<br />
<strong>eMail:</strong>
@Html.DisplayFor(model => model.email)

<br /><strong>Phone number:</strong>
@Html.DisplayFor(model => model.phone)
<br />
<br />
<br />
<p class="text-info">
    We have this address direction saved, is it correct? if not you should modify.<br />
    <strong>Remember: this address is where your items are going to be delivered.</strong></p>
    <br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        <label><strong>Address:  </strong></label>
        @Html.EditorFor(model => model.address)
        @Html.ValidationMessageFor(model => model.address)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.firstName)
        @Html.HiddenFor(model => model.lastName)
        @Html.HiddenFor(model => model.phone)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.birth)
        @Html.HiddenFor(model => model.locked)
        @Html.HiddenFor(model => model.password)
        @Html.HiddenFor(model => model.passwordSalt)
        @Html.HiddenFor(model => model.orders)
        @foreach (var item in Model.orders)
        { 
            @Html.HiddenFor(modelItem => item.OrderID)
        }
        @Html.HiddenFor(model => model.basket.BasketID)

        <br />
        <br />
<div align="right">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
