@model BeerShop.Models.Customer
@{
    ViewBag.Title = "Order - Edit user data";
}
<h4>
    This is the information we have about you, if it is not correct, you can modify
    it in "your acount" section</h4>
<br />
@Html.HiddenFor(model => model.UserID)
@Html.Label("Complete name")
@Html.DisplayFor(model => model.firstName)
@Html.DisplayFor(model => model.lastName)
@Html.LabelFor(model => model.email)
@Html.DisplayFor(model => model.email)
@Html.LabelFor(model => model.phone)
@Html.DisplayFor(model => model.phone)
<br />
<h4>
    We have this address direction saved, is it correct? if not you should modify. Remember:
    this address is where your items are going to be delivered.</h4>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        @Html.Label("Address:")
        @Html.EditorFor(model => model.address)
        @Html.ValidationMessageFor(model => model.address)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.firstName)
        @Html.HiddenFor(model => model.lastName)
        @Html.HiddenFor(model => model.phone)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.birth)
        @Html.HiddenFor(model => model.locked)
        @Html.HiddenFor(model => model.password)
        @Html.HiddenFor(model => model.orders)
        @foreach (var item in Model.orders) { 
            @Html.HiddenFor(modelItem => item.OrderID)
        }
        @Html.HiddenFor(model => model.basket.BasketID)



@*        @Html.HiddenFor(model => model.basket)*@
        <p>
            <input type="submit" value="Continue" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
