@model BeerShop.Models.ModelViewCategoryItem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CategoryItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryItem.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.categoryItem.name)
            @Html.ValidationMessageFor(model => model.categoryItem.name)
        </div>
        <div class="editor-label">
            Select type:
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.selectedCategoryItem, ViewBag.selectCategoryItemList as SelectList)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
