@model IEnumerable<BeerShop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>

@foreach (var category in Model) {
    <tr><td>
    @Html.DisplayName(category.name)
    </td>
    </tr>
    foreach (var categoryItem in category.categories)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => categoryItem.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = categoryItem.CategoryItemID }) |
            @Html.ActionLink("Details", "Details", new { id = categoryItem.CategoryItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id = categoryItem.CategoryItemID })
        </td>
    </tr>
    }
}

</table>
