@model BeerShop.Models.Order
@{
    ViewBag.Title = "Confirmation";
}
<p class="lead">
    This is the information about you, your deliver address and your payment data</p>
<br />
<fieldset>
    <legend>User</legend>
    <strong>Complete name:</strong>
    @Html.DisplayFor(model => model.customer.firstName)
    @Html.DisplayFor(model => model.customer.lastName)
    <br />
    <strong>eMail:</strong>
    @Html.DisplayFor(model => model.customer.email)
    <br />
    <strong>Phone number:</strong>
    @Html.DisplayFor(model => model.customer.phone)
    <br />
</fieldset>
<fieldset>
    <legend>Address</legend>
    <br />
    <strong>Address:</strong>
    @Html.DisplayFor(model => model.customer.address)
</fieldset>
<fieldset>
    <legend>Payment</legend>@*Payment data info*@
</fieldset>
<br />
<p class="lead">
    Those are the items you are buying</p>
    <br />
<fieldset>
    <legend>Item</legend>
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price per item
                </th>
                <th>
                    Price sum
                </th>
            </tr>
            @foreach (var oI in Model.orderItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => oI.item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => oI.amount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => oI.price)
                    </td>
                    <td>
                        @(oI.sum(true))
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                <strong>Overal sum:</strong>
                </td>
                <td>
                    <strong>@ViewBag.totalPrice</strong>
                </td>
            </tr>
        </table>
    </div>
</fieldset>
    <div align="right">
    @Html.ActionLink("Back", "DetailsOrderItems", new { id = Model.OrderID }, new { @class = "btn " })
    @Html.ActionLink("Pay with your paypal account", "Payment", new { id = Model.OrderID }, new { @class = "btn btn-primary" })
    @*      back (modify adress data)
        back (basket)  *@
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
