@model BeerShop.Models.Basket


<table>
    <tr>
        <td>
            Item
        </td>
        <td>
             Stock count
        </td>
        <td>
             Amount in basket
        </td>
        <td>
            Price per one item
        </td>
        <td>
            Price sum
        </td>

        <td>
        </td>
        
    </tr>

@foreach (var orderItem in Model.orderItems) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.name)
        </td>
        <td>
             @Html.DisplayFor(modelItem => orderItem.item.stockCount)
        </td>
        <td>
             @Html.DisplayFor(modelItem => orderItem.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => orderItem.item.Price)
        </td>
        <td>
            @(orderItem.sum(true))
        </td>
        <td>
            @Html.ActionLink("-1", "DecrementItem", new { basketId=Model.BasketID , ordItemId=orderItem.OrderItemID })
            @Html.ActionLink("+1", "IncrementItem", new { basketId=Model.BasketID , ordItemId=orderItem.OrderItemID })
            @Html.ActionLink("Remove", "RemoveItem", new { basketId=Model.BasketID , ordItemId=orderItem.OrderItemID })
        </td>
        
    </tr>
}

</table>