@model BeerShop.Models.ItemCategoryHelper
@{
    ViewBag.Title = "Create";
}
<h2>
    Add new beer</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="editor-label">
                    <label>
                        <strong>Name: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.item.name)
                    @Html.ValidationMessageFor(model => model.item.name)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Stock: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.item.stockCount)
                    @Html.ValidationMessageFor(model => model.item.stockCount)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Price: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.item.Price)
                    @Html.ValidationMessageFor(model => model.item.Price)
                </div>
            </div>
            <div class="span6">
                <div class="editor-label">
                    <label>
                        <strong>Description: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.item.description)
                    @Html.ValidationMessageFor(model => model.item.description)
                </div>
                @foreach (var i in ViewBag.typesList as Dictionary<string, SelectList>)
                {
                    <div class="editor-field">
                        @Html.Label(i.Key)
                        @Html.DropDownListFor(model => model.categoryTypeCategoryDictionary[i.Key], i.Value as SelectList)
                    </div>
                }
                <br />
                <br />
                <div align="left">
                    @Html.ActionLink("Back", "Index", "Items", new { @class = "btn" })
                    <button type="submit" class="btn btn-primary">
                        Add beer</button>
                </div>
            </div>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
