@model BeerShop.Models.ItemCategoryHelper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.stockCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.stockCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.isStillOnSale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.isStillOnSale)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedCountry)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedType)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


