@model BeerShop.Models.ItemCategoryHelper
    
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.stockCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.stockCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.isStillOnSale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.isStillOnSale)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedCountry)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedType)
    </div>
    @if(ViewBag.PermissionLevel >= 1)
        {
            @Html.ActionLink("Edit", "Edit", new { id=Model.item.ItemID })           
            @Html.ActionLink("Delete", "Delete", new { id=Model.item.ItemID })
        }
    @Html.ActionLink("Back to List", "Index")


    @{Html.RenderPartial("_Comments", Model.item.comments);}
    @if (ViewBag.userLogged == true)
    {
        {Html.RenderPartial("_CommentsCreate", Model);}
    }
</fieldset>



