@model BeerShop.Models.ItemCategoryHelper

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>

        @Html.HiddenFor(model => model.item.ItemID)

        <div class="editor-label">
            @Html.LabelFor(model => model.item.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.item.name)
            @Html.ValidationMessageFor(model => model.item.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.item.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.item.description)
            @Html.ValidationMessageFor(model => model.item.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.item.stockCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.item.stockCount)
            @Html.ValidationMessageFor(model => model.item.stockCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.item.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.item.Price)
            @Html.ValidationMessageFor(model => model.item.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.item.isStillOnSale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.item.isStillOnSale)
            @Html.ValidationMessageFor(model => model.item.isStillOnSale)
        </div>
        <div class="editor-label">
        Select Country        
        </div>
        <div class="editor-field"> 
        @Html.DropDownListFor(model => model.SelectedCountry, ViewBag.countriesList as SelectList)   </div>
                <div class="editor-label">
        Select Type        
        </div>    
         <div class="editor-field"> 
        @Html.DropDownListFor(model => model.SelectedType, ViewBag.typesList as SelectList)     
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
