@model BeerShop.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}
<h2>
    Change your Password</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <div class="editor-label">
            <br />
            <strong>Password:</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
    </div>
    <div class="editor-label">
        <br />
        <strong>Enter again:</strong>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.passwordRetype)
        @Html.ValidationMessageFor(model => model.passwordRetype)
    </div>

    <div class="editor-label">
        <br />
        <strong>Old password:</strong>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.oldPassword)
        @Html.ValidationMessageFor(model => model.oldPassword)
    </div>

    <div>
    <br  />
    <button class= "btn">@Html.ActionLink("Back", "Index", "Home")</button>
        <button type="submit" class="btn btn-primary">
            Save</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
