@model BeerShop.Models.Worker

@{
    ViewBag.Title = "CreateWorker";
}

<h2>Create a new worker</h2>
<bt />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="editor-label">
                    <label>
                        <strong>First Name: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Last Name: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.lastName)
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>eMail: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Password: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
            <div class="span6">
                <div class="editor-label">
                    <label>
                        <strong>Phone Number: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.phone)
                    @Html.ValidationMessageFor(model => model.phone)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Address: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.address)
                    @Html.ValidationMessageFor(model => model.address)
                </div>
                <div class="editor-label">
                    <label>
                        <strong>Date of birth: </strong>
                    </label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.birth)
                    @Html.ValidationMessageFor(model => model.birth)
                </div>
                <br />
                <br />
                <div align = "left">
                    @Html.ActionLink("Back", "Index", "Home", new { @class = "btn" })
                    <button type="submit" class="btn btn-primary">
                        Create account</button>
                </div>
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
