@model IEnumerable<BeerShop.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateCustomer")
</p>
<table>
    <tr>
        <th>
          |  @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.lastName)                
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.email)                  
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.password)                 
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.phone)                
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.address)             
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.birth)                 
        </th>
        <th>
          |  @Html.DisplayNameFor(model => model.locked) |               
        </th>
        <th></th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.locked)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id = user.UserID }) |
            @Html.ActionLink("Details", "Details", new { id = user.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = user.UserID })
        </td>
    </tr>
}

</table>
