@model IEnumerable<BeerShop.Models.Order>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Full name
        </th>
        <th>
            Status
        </th>
        <th>
            Created Date
        </th>
        <th>
            Dispached Date
        </th>
        <th>
           Delivered Date
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.firstName)
                @Html.DisplayFor(modelItem => item.customer.lastName)
            </td>
            <td>
                @{int st = item.status; switch (st)
                  {
                      case 1: @:pending
                          break;
                      case 2: @:processing
                          break;
                      case 3: @:dispached
                          break;
                      case 4: @:delivered
                          break;
                      case 5: @:canceled
                          break;
                      default: @:wtf
                          break;
                  }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dispachedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveredDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID })
            </td>
        </tr>
    }
</table>
