@model IEnumerable<BeerShop.Models.Item>
@{
    ViewBag.Title = "Home Page";
}
@helper helperURL(string myurl)
    {
        if (myurl != null)
        {
    @myurl
        }
}


<div class="container-fluid">
    <img src="../../Images/img04.jpg" class="img-circle" /><img src="../../Images/img05.jpg" />
    <div class="row-fluid">
        <div class="span2">
            @{Html.RenderAction("menu", "Items");}
            <!--Sidebar content-->
        </div>
        <div class="span10">
                <h1 class="title">
                    Welcome to The Beer Shop!</h1>
                <div class="post">
                 <h2 class="title">
                        Special offer</h2>
                <div class="row" style="padding-left:35px">
                   
                    <div class="span4">
                        <p>
                            <strong>50% on the @ViewBag.SpecialOffer.name . 3 days left !</strong></p>
                        <img src=@ViewBag.SpecialOffer.imageURL style="width:250px;height:250px"; onclick="location.href='@Url.Action("details", "items", new { id = ViewBag.SpecialOffer.ItemID })'"</img>
                    <div class="meta">
                        <p class="date">
                            Posted on May 24, 2013 by Admin</p>
                    </div>
                    </div>
                    <div class="span4">
                        Description : @ViewBag.SpecialOffer.description
                    </div>
                </div>
            </div>
            <div class="post">
                <h2 class="title">
                    Beer of the month</h2>
                <div class="row" style="padding-left:35px">
                <div class="span4">
                    <p>
                        <strong>This month our selection is the Albani Odense Pilsner. Come and
                        try!
                    </strong></p>
                    @foreach (BeerShop.Models.Item i in Model)
                    {
                        if (i.imageURL != null)
                        {
                        <img src=@helperURL(i.imageURL) alt= "http://upload.wikimedia.org/wikipedia/commons/e/e3/NCI_Visuals_Food_Beer.jpg" width="250" height="250" />
                        }
                        else
                        {
                        <img src="http://upload.wikimedia.org/wikipedia/commons/e/e3/NCI_Visuals_Food_Beer.jpg"
                            width="250" height="250" />
                        }

                    }
                    <div class="meta">
                    <p class="date">
                        Posted on May 01, 2013 by Admin</p>
                </div>
                    </div>
                       
                <div class="span4">
                        Description : 
                 </div>
                </div>
 
            </div>
            <!--Body content-->
        </div>
    </div>
</div>
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@ 